:root {
    --font-family: Schibsted Grotesk;
    --text-color: #222;
    --text-muted: #666;
    --primary-color: #008ECC;
    --white-color: white;
    --black-color: black;
    --background-color: #c2e4f3;
    --box-shadow: rgba(0, 0, 0, .05);
    --box-shadow-dark: rgba(0, 0, 0, .1);
}

@font-face {
    font-family: Schibsted Grotesk;
    src: url('../fonts/SchibstedGrotesk-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Schibsted Grotesk;
    src: url('../fonts/SchibstedGrotesk-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Schibsted Grotesk;
    src: url('../fonts/SchibstedGrotesk-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Schibsted Grotesk;
    src: url('../fonts/SchibstedGrotesk-SemiBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Schibsted Grotesk;
    src: url('../fonts/SchibstedGrotesk-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: Schibsted Grotesk;
    src: url('../fonts/SchibstedGrotesk-Black.ttf');
    font-weight: 900;
}

html, body {
    scroll-behavior: smooth;
    position: relative;
    width: fit-content;
    height: fit-content;
}

html {
    font-size: 50%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--background-color) 10px, var(--white-color));
}